/* VARIABLES */
:root {
  --light-blue: #ace7fb;
}

body {
  font-family: 'Poppins', sans-serif;
}

p,
a {
  font-size: 16px;
}
a {
  cursor: pointer;
}

section.page {
  width: 1080px;
  max-width: 90%;
  margin: auto;
}
